
<div class="card shadow mb-4">
    <div class="card-body p-0">
        <div class="row g-0 d-flex align-items-center px-2 py-3 mb-3 background-blue">
            <div class="col input-group date my-0 mx-2" id="begin-date-group">
                <input type="text" class="form-control" id="begin-date">
                <span class="input-group-text input-group-addon" ><i class="fas fa-calendar-alt"></i></span>
            </div>
             ~
            <div class="col input-group date my-0 mx-2" id="end-date-group">
                <input type="text" class="form-control" id="end-date">
                <span class="input-group-text input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <div class="col-1 my-0">
                <button class="btn btn-success" type="button" id="search">Search</button>
            </div>
        </div>
        <figure class="highcharts-figure mx-4">
            <div id="container"></div>
        </figure>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="/web/css/DemandReport.css?ts=1" />

<script type="text/javascript">
	dashboard_type = '{dashboardType}';
    demandInfo = {demandInfo};
    allForecastDataList = {allForecastDataList};
</script>
<link rel="stylesheet" href="/css/datetimepicker/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="/css/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/web/js/PredictUpdateReport.js?v=::version::"></script>