<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>雲端儲值系統-營運平台</title>
        <script type="text/javascript" src="/web/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/web/js/popper.js"></script>
        <script type="text/javascript" src="/web/css/bootstrap/5.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/web/css/bootstrap/5.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/web/css/fontawesome/5.3.1/css/all.min.css"/>
        <link type="text/css" rel="stylesheet" href="/web/css/Admin/Login.css?ts=1" />
        <script src="/web/js/Admin/Login.js?v=::version::"></script>
    </head>
    <body class="h-100">
        <div class='background-img h-100'>
        <div class='background-cover h-100'>
            <div class="container-fluid d-flex justify-content-center align-items-center h-100">
                <div class="col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3" id="login-panel-div">
                    <form id="login-panel">
                        <div class="p-3">
                            <div class='text-left'>
                                <label class="py-2" id="login-label">雲端儲值系統-營運平台</label>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-text border-input"><span class="fas fa-user"></span></div>
                                    <input type="text" class="form-control border-input login-input" name="login-user"  id="user" placeholder="帳號" required autofocus >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-text border-input"><span class="fas fa-lock"></span></div>
                                    <input class="form-control border-input login-input" placeholder="密碼" name="login-password" type="password" id="password" required>
                                </div>
                            </div>
                            <div class="form-group row mb-1 pb-3">
                                <button class="btn col" type="submit" id="loginbtn">登入</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>